body {
    background-color: black;
    line-height:2;
    margin-left: 10%;
    margin-right: 10%;
}

h1 {
    color:darkgreen;
    font-size: 2.5em;
    font-family: 'Playfair Display', 'Anta', 'Roboto', serif;
    text-align: center;
}

legend {
    color:forestgreen;
    font-size:1em;
    font-family: 'Playfair Display', 'Anta', 'Roboto', serif;
    text-align: center;
}

form {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(22, 106, 47, 0.407);
}

label {
    color:#333;
    font-size:1em;
    font-family: 'Playfair Display', 'Anta', 'Roboto', serif;
    display: block;
    margin-bottom:10px;
    color:#333;
}

input {
    width:95%;
    padding:12px;
    margin-bottom:20px;
    background-color: rgba(22, 106, 47, 0.407);
    border: 1px solid rgba(22, 106, 47, 0.407);
    border-radius: 5px;
}